# Essential for connection
ATL_HOST_CONFLUENCE = https://confluence.example.com
ATL_HOST_JIRA = https://jira.example.com
ATL_USER = auser
# better to leave this out and `read -s ATL_PASS; export ATL_PASS`
# ATL_PASS = apassword

# Used by some processes
ATL_TO_TAG = ISSKEY-3 ISSKEY-607 ISSKEY-89
ATL_ADD_TAG = NeedsRefinement
ATL_TARGET_TITLE = Some page title

# vim: ft=sh
